/* Media queries for mobile devices 320px - 480px */
@media only screen and (min-width: 320px) {
  /* Gives all elements the same CSS proterties  */
  * {
      margin: 0;
      padding: 0;
      border: none;  /* Removes borders */
      box-sizing: border-box;  /* Stops borders from overlapping by adapting to the padding  */
  }

  html {
    height: 100%;
    background-color: #e6faff;
  }
  
   /* Makes the body on each page fill to the entire page's height */
  body {
    height: 100%;
    background-color: #e6faff;
  }
  
  /* Centers the header and has green background color  */
  header {
    padding: 22px;
    text-align: center;
    background-color: #005b4b;
  }
  
  /* Romoves the hyperlink underline */
  header a {
    text-decoration: none;
  }
  
  /* Positions logo top left */
  header img {
    position: absolute;
    top: 11px;
    left: 12px;
    height: 2cm;
    width: 2cm;
  }
  
  /* Most important heading has white font color and roboto fotn style  */
  h1 {
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
    font-size: 45px;
  }
  
  /* Code for dropdown navbar is taken from from W3schools */
  nav {
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
  }
  

  nav a {
    float: left; /* Navigation bar links towards the left side */
    font-size: 16px; 
    color: #000000;
    text-align: center; /* Positions nav links in the middle */
    padding: 15px 19px;
    text-decoration: none; /* Removes the underline from the hyperlinks */
  }
    

  .dropdown {
    float: left; /* Positions dropdown towards the left */
    overflow: hidden; /* Hides scroll bar */
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none; /* Removes border */
    outline: none; /* Removes border outline*/
    color: #000000;
    padding: 15px 31.3px; /* The padding top and bottom is 15px and left and right is 31.3px */
    background-color: inherit; /* Inherits the background color of parent element */
    font-family: inherit; /* Inherits the font-family of parent element */
    margin: 0;
  }
  
  /* Yellow background color when mouse hovers over it */
  nav a:hover, .dropdown:hover .dropbtn {
    background-color: #ffffb3; 
  }
  
  .dropdown-content {
    display: none; /* Hides the content in the dropdown menu */
    position: absolute; /* Positions relative to nearest position ancestor */
    background-color: #ffffff;
    min-width: 129.5px; /* Minimum width the dropdown content can be */
    z-index: 1; /* Displays dropdown content in front of everything */
  }
  
  .dropdown-content a {
    float: none; /* Dropdowm content doesnt float */
    color: black;
    padding: 5px 16px;
    text-decoration: none; /* Removes underline from links */
    display: block; /* Content displays below the last element */
    text-align: left; /* Positions the text towards the left */
  }
  
  /* Yellow background color when mouse hovers over it */
  .dropdown-content a:hover {
    background-color: #ffffb3;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Green bg color and min-height helps footer to be visible */
  main {
    padding: 15px;
    background-color:#005b4b;
    min-height: 70%;
    box-sizing: border-box; /* Stops borders from overlapping by adapting to the padding  */
  }
  
  /* Heading with white roboto condenses font style  */
  h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
  }
  
  /* Paragraphs eith white roboto slab font style  */
  p{
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    font-size: 15px;
  }

   /* Adjusts section image size in relaton to parent  */
  section img {
    max-width: 100%;
    height: auto;
  
  }
  
  .welcome, .about {
    padding-bottom: 20px;
  }
  
  /* Circle border code taken from code isntitute love running project  */
  .circle-container{
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 50%;  /* Curves image container border by 50% */
    margin: 0 auto;  /* Positions image container in the middle  */
  }
  

  /* Circle image code taken from code isntitute love running 
  project. Adds an image circle for welcome area */
  #welcome-bg {
    background: url('../images/welcome.jpg') no-repeat center center;
    background-size: 400px;
    height: 260px;
    width: 260px;
    border-radius: 50%;  /* Curves welcome image border by 50%  */
    margin-top: 3%;
    margin-left: 3%;
  }

  /* Circle image code taken from code isntitute love running 
  project. Adds an image circle for about area */
  #about-bg {
    background: url('../images/about.jpeg') no-repeat center center;
    background-size: 400px;
    height: 260px;
    width: 260px;
    border-radius: 50%;  /* Curves about image border by 50% */
    margin-top: 3%;
    margin-left: 3%;
  }
  
  #contact-form {
    padding-top: 10px;
  }
  
  label {
    color:#ffffff;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  /* Form styling code taken form W3 Schools */
  input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Stops borders from overlapping by adapting to the padding  */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Roboto Slab', serif;
  }
  
  /* Form styling code taken form W3 Schools */
  textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Stops borders from overlapping by adapting to the padding  */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* Allows resizin the textbox vertically  */
    font-family: 'Roboto Slab', serif;
  }
  
  /* Form styling taken form W3 Schools */
  input[type=submit] {
    background-color: #ffffff;
    color: #000000;
    padding: 12px 20px;
    border: none;
    cursor: pointer; /* Mouse cursor becomes pointing hand cursor when hovering submit button  */
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  /* Form styling taken form W3 Schools */
  input[type=submit]:hover {
    background-color: #FFFFB3;
  }
  
  /* Makes footer black with white font color */
  footer {
    padding: 0%;
    background: #000000;
    color: #ffffff;
  }
  
   /* Positions socia media icons in the center of the footer */
  .social-media {
    text-align: center;
  }
  
   /* Displays social media icons on the same line */
  .social-media > li {
    display: inline;
  }
  
  /* Font awesome buttons white color and enlarged */
  .social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
  }
  
  /* Centered copyright info*/
  .copyright p {
    font-size: 10px;
    text-align: center; 
  }
  
  #upload-area1 {
    margin-bottom: 15px;
  }
  
  #submit-button {
    margin-top: 15px;
  }
  
  article {
    margin-top: 15px;
  }
  
   /* Positions and and sets size of the youtube video iframes */
  iframe {
    height: 200px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  #home_hacks{
    margin-top: 20px;
  }
  
  #office_hacks{
    margin-top: 20px;
  }
}

/* Media queries for ipads and tablets 481px - 768px */
@media only screen and (min-width: 481px) {
  header {
    padding: 40px;
  }

  h1 {
    font-size: 50px;
  }

  header img {
    height: 3cm;
    width: 3cm;
  }

  nav a {
    font-size: 25px;
    padding: 14px 33px;
  }
  
  .dropdown .dropbtn {
    font-size: 25px;  
    padding: 13px 33px;
  }

  .dropdown-content {
    min-width: 170px;
  }

  main {
    min-height: 75%;
  }
  
  h2 {
    font-size: 35px;
  }
  
  h3 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }
  
  label, input, textarea {
    font-size: 25px;
  }

  iframe {
    height: 325px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .social-media i {
    padding-bottom: 1%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .copyright p {
    font-size: 15px;
  }
}

/* Media queries for small screens and laptops 769px - 1024px */
@media only screen and (min-width: 769px) {
  header {
    padding-right: 15%;
  }

  nav a {
    padding: 14px 81px;
  }
  
  .dropdown .dropbtn {
    padding: 13px 81px;
  }

  .dropdown-content {
    min-width: 266.3px;
  }

  .circle-container{
    width: 400px;
    height: 400px;
  }

  #welcome-bg {
    background-size: 500px;
    height: 330px;
    width: 330px;
    margin-top: 6%;
    margin-left: 6%;
  }

  #about-bg {
    background-size: 500px;
    height: 330px;
    width: 330px;
    margin-top: 6%;
    margin-left: 6%;
  }

  iframe {
    height: 450px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .social-media i {
    padding-bottom: 0.5%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .copyright p {
    padding-top: 1%;
  }
}

/* Media queries for desktops and large screens 1025px - 1200px */
@media only screen and (min-width: 1025px) {
  header {
    padding-right: 20%;
  }

  h1 {
    font-size: 60px;
  }

  .dropdown .dropbtn {
    padding: 13px 80px;
  }
  
  /* Welcome section content positions to the left */
  .welcome-section {
    float: left; 
    width: 50%;
  }

  .welcome{
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .about{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }

  /* About section content postions to the right */
  .about-section {
    float: right;
    width: 50%; 
  }

  .contact-section {
    padding-top: 90%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .upload-section {
    padding-left: 10%;
    padding-right: 10%;
  }

  .social-media i {
    padding-bottom: 0.1%;
    padding-top: 1%;
  }

  iframe {
    height: 500px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .copyright p {
    padding-top: 0.5%;
  }
}

/* Media queries for extra large screens 1201px and more */
@media only screen and (min-width: 1201px) {
  header img {
    position: absolute;
    top: 11px;
    left: 20%;
  }

  body {
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .contact-section {
    padding-top: 120%;
  }

  iframe {
    height: 300px;
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* Media queries for extra large screens 1300px and more */
@media only screen and (min-width: 1300px) {
  .contact-section {
    padding-top: 110%;
  }

  iframe {
    height: 300px;
  }
}

/* Media queries for extra large screens 1500px and more */
@media only screen and (min-width: 1500px) {
  .contact-section {
    padding-top: 90%;
  }
}

/* Media queries for extra large screens 1600px and more */
@media only screen and (min-width: 1600px) {
  header img {
    position: absolute;
    left: 30%;
  }

  body {
    margin-left: 20%;
    margin-right: 20%;
  }

  .contact-section {
    padding-top: 85%;
  }
}

/* Media queries for extra large screens 2200px and more */
@media only screen and (min-width: 2200px) {
  body {
    margin-left: 26%;
    margin-right: 26%;
  }

  main {
    min-height: 70%;
  }

  .contact-section {
    padding-top: 70%;
  }

  iframe {
    height: 400px;
  }
}


/* Media queries for extra large screens 2400px and more */
@media only screen and (min-width: 2400px) {
  main {
    min-height: 77%;
  }
}
